<div class="show-container">
  <div class="d-flex justify-content-between" style="margin-top: 10px">
    <h1 class="mt-10">Local Experiences</h1>
    <%= link_to "All Categories", root_path, class: "btn btn-ghost" %>
  </div>
  <div class="cards-categories">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("sunrise_swim.jpg")%>)">
          Sunrise Swim
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("landsail.jpg")%>)">
          Land Sailing
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("graffiti.jpg")%>)">
          Old City graffiti hunting
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path("kitesurfing.jpg")%>)">
          Kitesurfing
        </div>
    </div>
</div>
